# Server Configuration
PORT=8080
ENV=development # development, production
SHUTDOWN_TIMEOUT=5s
READ_TIMEOUT=5s
READ_HEADER_TIMEOUT=2s
WRITE_TIMEOUT=10s
IDLE_TIMEOUT=120s

# Redis Configuration (Placeholder for PR 2)
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=""
